{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://a.blazemeter.com/api/v4"
        }
    ],
    "info": {
        "contact": {
            "email": "support@blazemeter.com",
            "x-twitter": "BlazeMeter"
        },
        "description": "Live API Documentation",
        "license": {
            "name": "LGPL-2.1",
            "url": "https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html"
        },
        "title": "Blazemeter API Explorer",
        "version": "4",
        "x-apisguru-categories": [
            "developer_tools"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_BlazeMeter_profile_image.png"
        },
        "x-origin": [
            {
                "converter": {
                    "url": "https://github.com/lucybot/api-spec-converter",
                    "version": "2.6.0"
                },
                "format": "swagger",
                "url": "https://a.blazemeter.com/api/v4/explorer/resources.json",
                "version": "1.2"
            }
        ],
        "x-preferred": true,
        "x-providerName": "blazemeter.com"
    },
    "tags": [
        {
            "name": "user"
        }
    ],
    "paths": {
        "/user/active/sessions": {
            "get": {
                "operationId": "active_sessions",
                "responses": {
                    "200": {
                        "description": "No response was specified",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "text/html": {
                                "schema": {}
                            },
                            "text/javascript": {
                                "schema": {}
                            },
                            "text/csv": {
                                "schema": {}
                            },
                            "text/plain": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "summary": "&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
                "tags": [
                    "user"
                ]
            }
        },
        "/user/active/terminate": {
            "post": {
                "operationId": "panic_terminate",
                "responses": {
                    "200": {
                        "description": "No response was specified",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "text/html": {
                                "schema": {}
                            },
                            "text/javascript": {
                                "schema": {}
                            },
                            "text/csv": {
                                "schema": {}
                            },
                            "text/plain": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "summary": "&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
                "tags": [
                    "user"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {}
                        },
                        "multipart/form-data": {
                            "schema": {}
                        },
                        "text/csv": {
                            "schema": {}
                        },
                        "text/plain": {
                            "schema": {}
                        }
                    },
                    "description": "<section class=\"body-param\"><strong>session_ids</strong> (required)<br/></section>"
                }
            }
        },
        "/user/collections": {
            "get": {
                "operationId": "retrieveCollections",
                "parameters": [
                    {
                        "in": "query",
                        "name": "skip",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No response was specified",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "text/html": {
                                "schema": {}
                            },
                            "text/javascript": {
                                "schema": {}
                            },
                            "text/csv": {
                                "schema": {}
                            },
                            "text/plain": {
                                "schema": {}
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "summary": "List organization multi-tests&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
                "tags": [
                    "user"
                ]
            }
        },
        "/user/invites": {
            "get": {
                "operationId": "retrieveInvites",
                "responses": {
                    "200": {
                        "description": "No response was specified",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "type": "string"
                                    },
                                    "type": "array"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "items": {
                                        "type": "string"
                                    },
                                    "type": "array"
                                }
                            },
                            "text/javascript": {
                                "schema": {
                                    "items": {
                                        "type": "string"
                                    },
                                    "type": "array"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "items": {
                                        "type": "string"
                                    },
                                    "type": "array"
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "items": {
                                        "type": "string"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "summary": "&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
                "tags": [
                    "user"
                ]
            }
        },
        "/user/locations": {
            "get": {
                "operationId": "retrieveLocations",
                "responses": {
                    "200": {
                        "description": "No response was specified",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "text/html": {
                                "schema": {}
                            },
                            "text/javascript": {
                                "schema": {}
                            },
                            "text/csv": {
                                "schema": {}
                            },
                            "text/plain": {
                                "schema": {}
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "summary": "Get user available locations&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
                "tags": [
                    "user"
                ]
            }
        },
        "/user/masters": {
            "get": {
                "operationId": "retrieveMasters",
                "parameters": [
                    {
                        "in": "query",
                        "name": "skip",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "default": 1000
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No response was specified",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "text/html": {
                                "schema": {}
                            },
                            "text/javascript": {
                                "schema": {}
                            },
                            "text/csv": {
                                "schema": {}
                            },
                            "text/plain": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "summary": "List user private masters&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
                "tags": [
                    "user"
                ]
            }
        },
        "/user/password": {
            "patch": {
                "responses": {
                    "200": {
                        "description": "No response was specified",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "text/html": {
                                "schema": {}
                            },
                            "text/javascript": {
                                "schema": {}
                            },
                            "text/csv": {
                                "schema": {}
                            },
                            "text/plain": {
                                "schema": {}
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "summary": "Update user name&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
                "tags": [
                    "user"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {}
                        },
                        "multipart/form-data": {
                            "schema": {}
                        },
                        "text/csv": {
                            "schema": {}
                        },
                        "text/plain": {
                            "schema": {}
                        }
                    },
                    "description": "<section class=\"body-param\"><strong>currentPassword</strong> (required)<br/><strong>newPassword</strong> (required)<br/></section>",
                    "required": true
                }
            },
            "post": {
                "responses": {
                    "200": {
                        "description": "No response was specified",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "text/html": {
                                "schema": {}
                            },
                            "text/javascript": {
                                "schema": {}
                            },
                            "text/csv": {
                                "schema": {}
                            },
                            "text/plain": {
                                "schema": {}
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "summary": "Update user name&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
                "tags": [
                    "user"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {}
                        },
                        "multipart/form-data": {
                            "schema": {}
                        },
                        "text/csv": {
                            "schema": {}
                        },
                        "text/plain": {
                            "schema": {}
                        }
                    },
                    "description": "<section class=\"body-param\"><strong>currentPassword</strong> (required)<br/><strong>newPassword</strong> (required)<br/></section>",
                    "required": true
                }
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "No response was specified",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "text/html": {
                                "schema": {}
                            },
                            "text/javascript": {
                                "schema": {}
                            },
                            "text/csv": {
                                "schema": {}
                            },
                            "text/plain": {
                                "schema": {}
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "summary": "Update user name&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
                "tags": [
                    "user"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {}
                        },
                        "multipart/form-data": {
                            "schema": {}
                        },
                        "text/csv": {
                            "schema": {}
                        },
                        "text/plain": {
                            "schema": {}
                        }
                    },
                    "description": "<section class=\"body-param\"><strong>currentPassword</strong> (required)<br/><strong>newPassword</strong> (required)<br/></section>",
                    "required": true
                }
            }
        },
        "/user/projects": {
            "get": {
                "operationId": "retrieveProjects",
                "responses": {
                    "200": {
                        "description": "No response was specified",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "text/html": {
                                "schema": {}
                            },
                            "text/javascript": {
                                "schema": {}
                            },
                            "text/csv": {
                                "schema": {}
                            },
                            "text/plain": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "summary": "Get user projects&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
                "tags": [
                    "user"
                ]
            }
        },
        "/user/register": {
            "get": {
                "operationId": "register_retrieve",
                "parameters": [
                    {
                        "description": "Email address",
                        "in": "query",
                        "name": "email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Password",
                        "in": "query",
                        "name": "password",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "First name",
                        "in": "query",
                        "name": "firstName",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Last name",
                        "in": "query",
                        "name": "lastName",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No response was specified",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "text/html": {
                                "schema": {}
                            },
                            "text/javascript": {
                                "schema": {}
                            },
                            "text/csv": {
                                "schema": {}
                            },
                            "text/plain": {
                                "schema": {}
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "summary": "Registration&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
                "tags": [
                    "user"
                ]
            },
            "post": {
                "operationId": "register",
                "responses": {
                    "200": {
                        "description": "No response was specified",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "text/html": {
                                "schema": {}
                            },
                            "text/javascript": {
                                "schema": {}
                            },
                            "text/csv": {
                                "schema": {}
                            },
                            "text/plain": {
                                "schema": {}
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "summary": "Registration&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
                "tags": [
                    "user"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {}
                        },
                        "multipart/form-data": {
                            "schema": {}
                        },
                        "text/csv": {
                            "schema": {}
                        },
                        "text/plain": {
                            "schema": {}
                        }
                    },
                    "description": "<section class=\"body-param\"><strong>firstName</strong> (required)<br/><strong>lastName</strong> (required)<br/><strong>email</strong> (required)<br/><strong>password</strong> (required)<br/></section>",
                    "required": true
                }
            }
        },
        "/user/tests": {
            "get": {
                "operationId": "retrieveTests",
                "parameters": [
                    {
                        "in": "query",
                        "name": "skip",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No response was specified",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "text/html": {
                                "schema": {}
                            },
                            "text/javascript": {
                                "schema": {}
                            },
                            "text/csv": {
                                "schema": {}
                            },
                            "text/plain": {
                                "schema": {}
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "summary": "List user private tests&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
                "tags": [
                    "user"
                ]
            }
        },
        "/user/top": {
            "get": {
                "operationId": "top",
                "responses": {
                    "200": {
                        "description": "No response was specified",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "type": "string"
                                    },
                                    "type": "array"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "items": {
                                        "type": "string"
                                    },
                                    "type": "array"
                                }
                            },
                            "text/javascript": {
                                "schema": {
                                    "items": {
                                        "type": "string"
                                    },
                                    "type": "array"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "items": {
                                        "type": "string"
                                    },
                                    "type": "array"
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "items": {
                                        "type": "string"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "summary": "&nbsp; <i class=\"fa fa-lg fa-unlock-alt\"></i>",
                "tags": [
                    "user"
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "ApiResponse": {
                "description": "ApiResponse Model",
                "properties": {
                    "api_version": {
                        "type": "string"
                    },
                    "error": {
                        "type": "string"
                    },
                    "result": {
                        "type": "string"
                    }
                },
                "required": [
                    "api_version",
                    "error",
                    "result"
                ],
                "type": "object"
            },
            "UserModel1": {
                "description": "UserModel1 Model",
                "properties": {
                    "currentPassword": {
                        "type": "string"
                    },
                    "newPassword": {
                        "type": "string"
                    }
                },
                "required": [
                    "currentPassword",
                    "newPassword"
                ],
                "type": "object"
            },
            "UserModel2": {
                "description": "UserModel2 Model",
                "properties": {
                    "currentPassword": {
                        "type": "string"
                    },
                    "newPassword": {
                        "type": "string"
                    }
                },
                "required": [
                    "currentPassword",
                    "newPassword"
                ],
                "type": "object"
            },
            "UserModel3": {
                "description": "UserModel3 Model",
                "properties": {
                    "currentPassword": {
                        "type": "string"
                    },
                    "newPassword": {
                        "type": "string"
                    }
                },
                "required": [
                    "currentPassword",
                    "newPassword"
                ],
                "type": "object"
            },
            "UserModel4": {
                "description": "UserModel4 Model",
                "properties": {
                    "email": {
                        "description": "Email address",
                        "type": "string"
                    },
                    "firstName": {
                        "description": "First name",
                        "type": "string"
                    },
                    "lastName": {
                        "description": "Last name",
                        "type": "string"
                    },
                    "password": {
                        "description": "Password",
                        "type": "string"
                    }
                },
                "required": [
                    "firstName",
                    "lastName",
                    "email",
                    "password"
                ],
                "type": "object"
            },
            "UserModel5": {
                "description": "UserModel5 Model",
                "properties": {
                    "session_ids": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "blazemeter_Model_ApiResponse": {},
            "blazemeter_Routing_v4_UserModel1": {},
            "blazemeter_Routing_v4_UserModel2": {},
            "blazemeter_Routing_v4_UserModel3": {},
            "blazemeter_Routing_v4_UserModel4": {},
            "blazemeter_Routing_v4_UserModel5": {}
        },
        "requestBodies": {
            "Blazemeter_routing_v4_usermodel1": {
                "content": {
                    "application/json": {
                        "schema": {}
                    },
                    "multipart/form-data": {
                        "schema": {}
                    },
                    "text/csv": {
                        "schema": {}
                    },
                    "text/plain": {
                        "schema": {}
                    }
                },
                "description": "<section class=\"body-param\"><strong>currentPassword</strong> (required)<br/><strong>newPassword</strong> (required)<br/></section>",
                "required": true
            }
        },
        "securitySchemes": {
            "apiKey": {
                "in": "query",
                "name": "api_key",
                "type": "apiKey"
            }
        }
    }
}